
<h1>Welcome</h1>

<form action="/artist-search" method="GET">

    <input name="artistSearch" type="text" placeholder="Name of artist" >
    <button type="submit">Search for an artist</button>

</form>